@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Modak&display=swap');

html, body, #root {
    max-height: 100dvh; 
    margin: 0;
    overflow: hidden; 
    font-family: "Gaegu";
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Modak";
    font-size: 5rem;
    text-align: center;
}
.monthSelector {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0rem 0rem;
    min-width: 100dvh;
    font-weight: bold;
    font-size: 1.3rem;
    
}
.eventsListContainer {
    background-color: #FCE8E9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
    min-width: 100dvh;
    border-radius: 15px;
    min-height: 100%;
    max-height: 65vh;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.past-event, .upcoming-event {
    background-color: #FEFBF5ff;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    margin: 1rem 0rem;
    min-width: 100dvh;
    border-radius: 15px;
    min-height: 50px;
}
.past-event {
    color: #6b6b6b;
    background-color: #b4b4b47f;
}

.eventDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0rem;
    font-weight: bold;
    background-color: rgba(147, 159, 113, 0.505);
    border-radius: 15px;
}

.addEventButton, .prevMonthButton, .nextMonthButton {
    font-size:30px;
    font-weight: bolder;
    padding: 0.2rem 4rem;
}

.addEventButton {
    margin: 0;
    padding: 0.2rem 7rem;
    min-width: 100%;
}