@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Jua&display=swap');
/* COLOR PALETTE */
/* 
--misty-rose: #FCE8E9ff;
--dark-moss-green: #495733ff;
--moss-green: #939F71ff;
--tea-rose-red: #F3C3C3ff;
--baby-powder: #FEFBF5ff; 
*/
.EventDetailsBody{
    font-family: "Jua";
    background-color: #FEFBF5ff;
}

.EventDetailsBody button{
    border: transparent;
    color:#495733ff;
    margin: 1rem;
    box-shadow: #5941414e 0px 50px 100px -20px, #57323274 0px 30px 60px -30px, #42101058 0px -2px 6px 0px inset;
}

.EventDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50dvw;
    padding: 2rem;
    margin: 1rem;
    background-color: #FCE8E9ff;
    border-radius: 15px;
    box-shadow: #5941414e 0px 50px 100px -20px, #57323274 0px 30px 60px -30px, #42101058 0px -2px 6px 0px inset;
}

.EventDetailsContainer h1{
    font-size: 3rem;
}
