#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* COLOR PALETTE */
/* 
--misty-rose: #FCE8E9ff;
--dark-moss-green: #495733ff;
--moss-green: #939F71ff;
--tea-rose-red: #F3C3C3ff;
--baby-powder: #FEFBF5ff; 
*/