
/* COLOR PALETTE */
/* 
--misty-rose: #FCE8E9ff;
--dark-moss-green: #495733ff;
--moss-green: #939F71ff;
--tea-rose-red: #F3C3C3ff;
--baby-powder: #FEFBF5ff; 
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;
  color: #495733ff;
  background-color: #FCE8E9ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #939F71ff;
  text-decoration: inherit;
}
a:hover {
  color: #495733ff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
<<<<<<< HEAD
  background-color: white;
=======
  background-color: #F3C3C3ff;
>>>>>>> 71450728a6c6c72fa4f7d755e5a7a2adc38f73db
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #495733ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logInContainer, .signUpContainer{
  display: flex;
  flex-direction: column;
}